@tailwind preflight;
@tailwind components;
@tailwind utilities;

body,
#root {
  min-height: 100vh;
  @apply font-sans;
}

/* Skeleton animation */
.skeleton {
  position: relative !important;
}

.skeleton::before {
  content: '';
  width: 0%;

  @apply absolute h-full bg-purple-lighter-30 pin rounded;

  animation: skeleton 3s infinite ease-in-out;
}

.skeleton-circle::before {
  @apply rounded-full;
}

@keyframes skeleton {
  0% {
    width: 0%;
    left: 0;
    right: auto;
    opacity: 0.3;
  }
  20% {
    width: 100%;
    left: 0;
    right: auto;
    opacity: 1;
  }
  28% {
    width: 100%;
    left: auto;
    right: 0;
  }
  51% {
    width: 0%;
    left: auto;
    right: 0;
  }
  58% {
    width: 0%;
    left: auto;
    right: 0;
  }
  82% {
    width: 100%;
    left: auto;
    right: 0;
  }
  83% {
    width: 100%;
    left: 0;
    right: auto;
  }
  96% {
    width: 0%;
    left: 0;
    right: auto;
  }
  100% {
    width: 0%;
    left: 0;
    right: auto;
    opacity: 0.3;
  }
}
